In [1]:
import datetime
import pytz

import pandas as pd

/opt/conda/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/opt/conda/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
# two dates in us/central tz

dt = datetime.datetime.now()
dt2 = datetime.datetime.now() - datetime.timedelta(hours=1)

In [3]:
max_dates = pd.DataFrame(1, index=[dt, dt2], columns=['na'])

In [5]:
max_dates.sort_index(ascending=False)

                            na
2018-09-13 19:49:10.642859   1
2018-09-13 18:49:10.642939   1

In [6]:
# set as US/Central then convert to UTC# set as 
max_dates.tz_localize(pytz.timezone('US/Central')).tz_convert('UTC')

                                  na
2018-09-14 00:49:10.642859+00:00   1
2018-09-13 23:49:10.642939+00:00   1

In [7]:
# get the max date as datetime.datetime object# get th 
max_date = max_dates.index[0].to_pydatetime()
max_date

datetime.datetime(2018, 9, 13, 19, 49, 10, 642859)